{% load static %}
<!-- ============================================================= FOOTER ============================================================= -->
<footer id="footer" class="footer color-bg">
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="module-heading">
              <h4 class="module-title">Contáctenos</h4>
            </div>
            <!-- /.module-heading -->
            
            <div class="module-body">
              <ul class="toggle-footer" style="">
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body">
                    <p>Avenida Central y Calle Central 1-1, Atiquizaya, Ahuachapán, C.A.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body">
                    <p>
                      Atiquizaya: +(503) 2418-0161 | Chalchuapa: +(503) 6971-9293, +(503) 2429 7964<br>
                    </p>
                  </div>
                </li>
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body"> <span><a href="#">casaperdomo@gmail.com</a></span> </div>
                </li>
              </ul>
            </div>
            <!-- /.module-body --> 
          </div>
          <!-- /.col -->
          
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="module-heading">
              <h4 class="module-title">
                <p class="">Copyright © 2022 <a target="_blank" href="https://solucionescomercios.com">Comercial Perdomo Rodríguez</a>, 
                  Todos los derechos reservados.</p>
              </h4>
            </div>
           
          </div>
          <!-- /.col -->
          
        </div>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="container">
        <div class="col-xs-12 col-sm-6 no-padding social">
          <ul class="link">
            <li class="fb pull-left"><a target="_blank" rel="nofollow" href="http://www.facebook.com/sharer.php?u={{ request.get_full_path }}" title="Facebook"></a></li>
            <!-- <li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li> -->
            <!-- <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#" title="GooglePlus"></a></li> -->
            <li class="rss pull-left"><a target="_blank" rel="nofollow" href="{{ request.get_full_path }}" title="RSS"></a></li>
            <!-- <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a></li> -->
            <!-- <li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li> -->
            <!-- <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a></li> -->
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 no-padding">
          <div class="clearfix payment-methods">
            <ul>
              <li><img src="{% static 'homepage/images/payments/1.png' %}" alt=""></li>
              <!-- <li><img src="{% static 'homepage/images/payments/2.png' %}" alt=""></li> -->
              <li><img src="{% static 'homepage/images/payments/3.png' %}" alt=""></li>
              <li><img src="{% static 'homepage/images/payments/4.png' %}" alt=""></li>
              <!-- <li><img src="{% static 'homepage/images/payments/5.png' %}" alt=""></li> -->
            </ul>
          </div>
          <!-- /.payment-methods --> 
        </div>
      </div>
    </div>
  </footer>
  <!-- ============================================================= FOOTER : END============================================================= --> 
  
  <!-- For demo purposes – can be removed on production --> 
  
  <!-- For demo purposes – can be removed on production : End --> 
  
  <!-- JavaScripts placed at the end of the document so the pages load faster --> 
  <script src="{% static 'homepage/js/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'homepage/js/bootstrap-hover-dropdown.min.js' %}"></script>
  <script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'homepage/js/echo.min.js' %}"></script>
  <script src="{% static 'homepage/js/jquery.easing-1.3.min.js' %}"></script>
  <script src="{% static 'homepage/js/bootstrap-slider.min.js' %}"></script>
  <script src="{% static 'homepage/js/jquery.rateit.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'homepage/js/lightbox.min.js' %}"></script>
  <script src="{% static 'homepage/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'homepage/js/wow.min.js' %}"></script>
  <script src="{% static 'homepage/js/scripts.js' %}"></script>
  
  <!-- Toastr --> 
  <script src="{% static 'homepage/js/toastr.min.js' %}"></script>
  
  <!-- Estilos propios de Tienda --> 
  <script src="{% static 'store/js/store.js' %}"></script>