{% load static %}
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1">
    
    <!-- ============================================== TOP MENU ============================================== -->
    <div class="top-bar animate-dropdown">
      <div class="container">
        <div class="header-top-inner">
          
          <div class="cnt-account">
            <ul class="list-unstyled">
              {% if user.is_authenticated %}
              <li><a href="#"><i class="icon fa fa-user"></i>Mi Cuenta</a></li>
              <li><a href="#"><i class="icon fa fa-heart"></i>Lista de deseos</a></li>
              <li><a href="{% url 'cart' %}"><i class="icon fa fa-shopping-cart"></i>Mi Carrito</a></li>
              <li><a href="#"><i class="icon fa fa-check"></i>Checkout</a></li>
              {% if user.is_staff %}
                <li><a href="{% url 'inv:dashboard' %}"><i class="icon fa fa-tachometer"></i>Dashboard</a></li>
              {% endif %}
              <li><a href="{% url 'logout' %}"><i class="icon fa fa-sign-out"></i>Salir</a></li>
              {% else %}
              <li><a href="{% url 'login' %}"><i class="icon fa fa-sign-in"></i>Ingresar</a></li>              
              {% endif %}
            </ul>
          </div>
          
          <!-- /.cnt-account -->
  
          <div class="cnt-block">
            
          </div>
          <!-- /.cnt-cart -->
          <div class="clearfix"></div>
        </div>
        <!-- /.header-top-inner -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.header-top -->
    
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
            <!-- ============================================================= LOGO ============================================================= -->
            <div class="logo"> <a href="{% url 'index' %}"> <img src="{% static 'homepage/images/logo.png' %}" alt="logo"> </a> </div>
            <!-- /.logo -->
            <!-- ============================================================= LOGO : END ============================================================= --> </div>
            <!-- /.logo-holder -->
          
          <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder">
            <!-- /.contact-row -->
            <!-- ============================================================= SEARCH AREA ============================================================= -->
            <div class="search-area">
              <form>
                <div class="control-group">
                  <ul class="categories-filter animate-dropdown">
                    <li class="dropdown"> <a class="dropdown-toggle"  data-toggle="dropdown" href="category.html">Categorías <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" >
                        <li class="menu-header"><a href="{% url 'store' %}">Todos los productos</a></li>
                        {% for category in menu_categories %}
                          <li class="menu-header">{{ category.name }}</li>
                          {% for subcategory in category.children.all %}
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ subcategory.get_url }}">- {{ subcategory.name }}</a></li>
                          {% endfor %}
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                  <input class="search-field" placeholder="Psst, busca aquí..." />
                  <a class="search-button" href="#" ></a> </div>
              </form>
            </div>
            <!-- /.search-area -->
            <!-- ============================================================= SEARCH AREA : END ============================================================= --> 
          </div>
          <!-- /.top-search-holder -->
          {% if user.is_authenticated %}
          <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row">
            <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
            
              <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
                <div class="items-cart-inner">
                  <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
                  <div class="basket-item-count"><span class="count" id="cart_counter">{{ cart_count }}</span></div>
                  <div class="total-price-basket"><span class="lbl">cesta -</span> <span class="total-price"> <span class="sign">$</span><span class="value" id="cart_amount">{{ grand_total }}</span> </span> </div>
                </div>
                </a>
                <ul class="dropdown-menu">
                  <li>                    
                    {% if cart_items %}
                      {% for item in cart_items%}
                      <div class="cart-item product-summary">
                        <div class="row" id="cart-item-navbar-{{item.id}}">
                          <div class="col-xs-4">
                            <div class="image"> <a href="{{ item.product.get_url }}"><img src="{% if item.product.image %} {{ item.product.image.url }} {% else %} {% static 'img/producto-sin-foto.jpg' %} {% endif %}" alt=""></a> </div>
                          </div>
                          <div class="col-xs-7">
                            <h3 class="name"><a href="{% if item.product.image %} {{ pitem.roduct.image.url }} {% else %} {% static 'img/producto-sin-foto.jpg' %} {% endif %}">{{ item.product }}</a></h3>
                            <div class="price">${{ item.product.price }}</div>
                          </div>
                            <div class="col-xs-1 action delete_cart" data-id="{{ item.id }}" data-url="{% url 'delete_cart' item.id %}"><a href="#"><i class="fa fa-trash"></i></a> </div>
                          </div>
                        </div>
                        {% endfor %}
                        <!-- /.cart-item -->
                        <div class="clearfix"></div>
                        <hr>
                        <div class="clearfix cart-total">
                          <div class="pull-right"> <span class="text">Sub Total :</span><span class='price'>${{ grand_total }}</span> </div>
                          <div class="clearfix"></div>
                          <a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a> </div>
                          <!-- /.cart-total-->                      
                    {% else %}
                      <div class="text-center p-5">
                        <h5>Su Carrito está vacío</h3>
                      </div>
                    {% endif %}
                  </li>
                </ul>
                <!-- /.dropdown-menu-->
              </div>
              <!-- /.dropdown-cart -->
              
            
            <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
          <!-- /.top-cart-row -->
        </div>
        <!-- /.row -->
        
      </div>
      <!-- /.container -->
  
    </div>
    <!-- /.main-header -->
    {% endif %}
    <!-- ============================================== NAVBAR ============================================== -->
    <div class="header-nav animate-dropdown">
      <div class="container">
        <div class="yamm navbar navbar-default" role="navigation">
          <div class="navbar-header">
         <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
         <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <div class="nav-bg-class">
            <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
              <div class="nav-outer">
                
                <!-- /.navbar-nav -->
                <div class="clearfix"></div>
              </div>
              <!-- /.nav-outer -->
            </div>
            <!-- /.navbar-collapse -->
  
          </div>
          <!-- /.nav-bg-class -->
        </div>
        <!-- /.navbar-default -->
      </div>
      <!-- /.container-class -->
  
    </div>
    <!-- /.header-nav -->
    <!-- ============================================== NAVBAR : END ============================================== -->
  
    </header>
    <!-- ============================================== HEADER : END ============================================== -->