{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url 'index' %}">Inicio</a></li>
				<li class='active'>Acceder</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="sign-in-page">
			<div class="row">	
                <!-- Sign-in -->
                {% if request.GET.command == 'verification' %}
                <div class="col-md-6 col-sm-12 sign-in center-block text-center alert alert-info" role="alert">
                    Gracias por registrarse con nosotros. Hemos enviado un email de verificación a su bandeja de entrada de [{{request.GET.email}}].
                    <br><br>
                    ¿Ya verificada? <a href="{% url 'cus_login' %}">Login</a>
                </div>
                {% else %}
                <div class="col-md-6 col-sm-12 sign-in center-block">
                    <h4 class="">Acceder</h4>
                    <p class="">Bienvenido/a a tu cuenta.</p>

                    {% include 'includes/alerts.html' %}
                    
                    <div class="social-sign-in outer-top-xs">
                        <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="facebook-sign-in"><i class="fa fa-facebook"></i> Puedes ingresar con Facebook</a>
                        <!-- <a href="#" class="twitter-sign-in"><i class="fa fa-twitter"></i> Sign In with Twitter</a> -->
                    </div>
                    <form action="{% url 'cus_login' %}" method="POST" class="register-form outer-top-xs" role="form">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label class="info-title" for="email">Correo Electrónico <span>*</span></label>
                            <input type="email" class="form-control unicase-form-control text-input" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="password">Contraseña <span>*</span></label>
                            <input type="password" class="form-control unicase-form-control text-input" id="password" name="password">
                        </div>
                        <div class="radio outer-xs">
                        
                            <a href="#" class="forgot-password pull-right">¿Olvidaste tu contraseña?</a>
                        </div>
                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Acceder</button>
                    </form>					
                </div>
                <!-- Sign-in -->
                {% endif %}
            </div>
        </div>
        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
        {% include 'includes/brands.html' %}
        <!-- /.logo-slider --> 
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== --> 
    </div>
</div>
{% endblock %}