{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="{% url 'index' %}">Inicio</a></li>
				<li class='active'>Acceder</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="sign-in-page">
			<div class="row">	
                <!-- Sign-in -->
                
                <div class="col-md-6 col-sm-12 sign-in center-block">
                    <h4 class="">Restablecer Contraseña</h4>

                    {% include 'includes/alerts.html' %}
                                        
                    <form action="{% url 'resetPassword' %}" method="POST" class="register-form outer-top-xs" role="form">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label class="info-title" for="password">Nueva Contraseña <span>*</span></label>
                            <input type="password" class="form-control unicase-form-control text-input" id="password" name="password">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="password">Confirmar Contraseña <span>*</span></label>
                            <input type="password" class="form-control unicase-form-control text-input" id="password" name="confirm_password">
                        </div>

                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Restablecer</button>
                    </form>					
                </div>
                <!-- Sign-in -->
                
            </div>
        </div>
        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
        {% include 'includes/brands.html' %}
        <!-- /.logo-slider --> 
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== --> 
    </div>
</div>
{% endblock %}