{% extends 'list.html' %}
{% load static %}
{% load my_custom_tags %}
{% load widget_tweaks %}
{% block columns %}
    <tr>
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 15%;">Razón Social</th>
        <th scope="col" style="width: 10%;">NIT</th>
        <th scope="col" style="width: 10%;">Estado</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block footer_list %}
<script src="{% static 'supplier/js/list.js' %}"></script>
{% endblock %}
