{% extends 'list.html' %}
{% block buttons_list %}
    <a href="{% url 'inv:entry_create' tipomov %}" class="btn btn-primary mb-2" title="Nuevo Registro">
        Agregar
    </a>
{% endblock %}
{% load static %}
{% block columns %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Número</th>
        <!-- <th scope="col">Proveedor</th> -->
        <th scope="col">Fecha de registro</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Total</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}


{% block footer_list %}

    <div class="modal fade" id="myModelDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document"> <!-- modal-xl para extra large modal-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>
                        Detalle de {{entity}} ({{tipomov}})</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" name="tipomov" value="{{ tipomov }}">
                <div class="modal-body">
                    <table class="table table-bordered" id="tblDet">
                        <thead>
                        <tr>
                            <!-- Esto aparece en modal detalles de documento -->
                            <th>Producto</th>
                            <th>Modelo</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'entry/js/list.js' %}"></script>
{% endblock %}