{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="#">Inicio</a></li>
				<li class='active'>Carrito</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content outer-top-xs">
	<div class="container">
		<div class="text-center p-5" id="empty-cart" style="display: none;">
			<h3>Su Carrito está vacío</h3>
		</div>
		<div class="row ">
			
			{% if cart_items %}
			<div class="shopping-cart">
				<div class="shopping-cart-table">					
					<div class="table-responsive">						
						<table id="carrito" class="table">
							<thead>
								<tr>
									<th class="cart-romove item">Eliminar</th>
									<th class="cart-description item">Imagen</th>
									<th class="cart-product-name item">Producto</th>
									<th class="cart-edit item">Editar</th>
									<th class="cart-qty item">Cantidad</th>
									<th class="cart-sub-total item">Subtotal</th>
									<th class="cart-total last-item">Gran Total</th>
								</tr>
							</thead><!-- /thead -->
							<tfoot>
								<!-- <tr>
									<th>Total</th>
								</tr> -->
								<tr>
									<td colspan="7">
										<div class="shopping-cart-btn">
											<span class="">
												<!-- <a href="#" class="btn btn-upper btn-primary outer-left-xs">Seguir Comprando</a> -->
												<a href="{% url 'store' %}" class="btn btn-upper btn-primary pull-right outer-right-xs">Seguir Comprando</a>
											</span>
										</div><!-- /.shopping-cart-btn -->
									</td>
								</tr>
							</tfoot>
							<tbody>
								{% for item in cart_items %}
								
								<tr id="cart-item-{{item.id}}">
									<td class="romove-item delete_cart" data-id="{{ item.id }}" data-url="{% url 'delete_cart' item.id %}"><a href="#" title="cancelar" class="icon"><i class="fa fa-trash-o"></i></a></td>
									<td class="cart-image">
										<a class="entry-thumbnail" href="{{ item.product.get_url }}">
											<img src="{% if item.product.image %} {{ item.product.image.url }} {% else %} {% static 'img/producto-sin-foto.jpg' %} {% endif %}" alt="">
										</a>
									</td>
									<td class="cart-product-name-info">
										<h4 class='cart-product-description'><a href="{{ item.product.get_url }}">{{ item.product }}</a></h4>
										<div class="row">
											<div class="col-sm-4">
												<a href="{% url 'products_by_category' item.product.category.slug %}">{{ item.product.category }}</a>
											</div>
											
										</div><!-- /.row -->
										<div class="cart-product-info">
											<span class="product-color">COLOR:<span>Blue</span></span>
										</div>
									</td>
									<td class="cart-product-edit"><a href="#" class="product-edit">Edit</a></td>
									<td class="cart-product-quantity">
										<div class="quant-input">
											<div class="arrows">
												<div class="arrow plusCart gradient add_to_cart" id="{{ item.id }}" data-id="{{ item.product.id }}" data-url="{% url 'add_to_cart' item.product.id %}"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
												<div class="arrow minusCart gradient decrease_cart" id="{{ item.id }}" data-id="{{ item.product.id }}" data-url="{% url 'decrease_cart' item.product.id %}"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
											</div>
											<input type="hide" data-stock="{{item.product.stock}}"> <!-- El stock del producto -->
											
											<input id="qty-{{item.product.id}}" data-price="{{ item.product.price }}" data-idprod="{{item.product.id}}" class="item_qty" data-qty="{{ item.quantity }}" type="text" val="1">
										</div>
									</td>
									<!-- Precio -->
									<td class="cart-product-sub-total"><span class="cart-sub-total-price" id="price">{{item.product.price }}</span></td>
									<!-- Subtotal línea -->
									<td class="cart-product-grand-total"><span class="cart-grand-total-price item_sub" id="sub-{{item.product.id}}" data-sub="{{ item.product.price }}" data-idprod="{{item.product.id}}" data-qty="{{ item.quantity }}">{{ item.product.price }}</span></td>
								</tr>
								
								{% endfor %}
								
							</tbody><!-- /tbody -->
						</table><!-- /table -->
						
					</div>
				</div><!-- /.shopping-cart-table -->
				<div class="col-md-4 col-sm-12 estimate-ship-tax">
					<table class="table">
						<thead>
							<tr>
								<th>
									<span class="estimate-title">Estimate shipping and tax</span>
									<p>Enter your destination to get shipping and tax.</p>
								</th>
							</tr>
						</thead><!-- /thead -->
						<tbody>
							<tr>
								<td>
									<div class="form-group">
										<label class="info-title control-label">Country <span>*</span></label>
										<select class="form-control unicase-form-control selectpicker">
											<option>--Select options--</option>
											<option>India</option>
											<option>SriLanka</option>
											<option>united kingdom</option>
											<option>saudi arabia</option>
											<option>united arab emirates</option>
										</select>
									</div>
									<div class="form-group">
										<label class="info-title control-label">State/Province <span>*</span></label>
										<select class="form-control unicase-form-control selectpicker">
											<option>--Select options--</option>
											<option>TamilNadu</option>
											<option>Kerala</option>
											<option>Andhra Pradesh</option>
											<option>Karnataka</option>
											<option>Madhya Pradesh</option>
										</select>
									</div>
									<div class="form-group">
										<label class="info-title control-label">Zip/Postal Code</label>
										<input type="text" class="form-control unicase-form-control text-input" placeholder="">
									</div>
									<div class="pull-right">
										<button type="submit" class="btn-upper btn btn-primary">GET A QOUTE</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div><!-- /.estimate-ship-tax -->

				<div class="col-md-4 col-sm-12 estimate-ship-tax">
					<table class="table">
						<thead>
							<tr>
								<th>
									<span class="estimate-title">Discount Code</span>
									<p>Enter your coupon code if you have one..</p>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="form-group">
										<input type="text" class="form-control unicase-form-control text-input" placeholder="You Coupon..">
									</div>
									<div class="clearfix pull-right">
										<button type="submit" class="btn-upper btn btn-primary">APPLY COUPON</button>
									</div>
								</td>
							</tr>
						</tbody><!-- /tbody -->
					</table><!-- /table -->
				</div><!-- /.estimate-ship-tax -->
				
				<div class="col-md-4 col-sm-12 cart-shopping-total">
					
					<table class="table">
						<thead>
							<tr>
								<th>
									<div class="cart-sub-total">
										Subtotal<span class="inner-left-md" id="subtotal">$0.00</span>
									</div>
									<div class="cart-grand-total">
										Gran Total<span class="inner-left-md" id="total">$0.00</span>
									</div>
								</th>
							</tr>
						</thead><!-- /thead -->
						<tbody>
								<tr>
									<td>
										<div class="cart-checkout-btn pull-right">
											<button type="submit" class="btn btn-primary checkout-btn">PROCCED TO CHEKOUT</button>
											<span class="">Checkout with multiples address!</span>
										</div>
									</td>
								</tr>
						</tbody><!-- /tbody -->
					</table><!-- /table -->
				</div><!-- /.cart-shopping-total -->
				
			</div><!-- /.shopping-cart -->
			{% else %}
					<div class="text-center p-5">
						<h3>Su Carrito está vacío</h3>
					</div>
				{% endif %}
		</div> <!-- /.row -->		
		{% include 'includes/brands.html' %}
</div><!-- /.body-content -->

{% endblock %}